.imp {
    background-image: url("https://cutewallpaper.org/28/cool-wallpaper-images-for-css/103686814.jpg");
    color: white;
    font-size: 25px;
    font-family: "Baloo 2", cursive;
    font-family: "Josefin Sans", sans-serif;
    font-family: "Laila", sans-serif;
    background-repeat: round;
  }